<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="startSort()"><ion-icon slot="icon-only" name="funnel"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-list>
		<ion-item *ngFor="let item of items">Hello</ion-item>
	</ion-list>

</ion-content>
